<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= link_to 'Show', booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to Flights", root_path %>