<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FlightBooker, <%= @passenger.name %></h1>
    <p>
      You have successfully booked flight from <%= @passenger.flight
        .departure_airport.name %> to <%= @passenger.flight
        .arrival_airport.name %>.<br>
    </p>
    <p>
      To go back to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>