body {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #B0AEF5),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #B0AEF5 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #B0AEF5 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #B0AEF5 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #B0AEF5 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #B0AEF5 0%, #FFFFFF 100%);
	background-repeat: no-repeat;
	font-family: Arial;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
h3 {
    font-size: 18px;
    font-weight: normal; 
    color: #777;
    font-family: Helvetica;
}

.container {
	width: 690px;
	margin: auto;
}


.head {
	position: relative
}
.head img {
	position: relative;
    margin-bottom: 5px;
    padding-top: 35px;
    height: 65px;
    width: auto;
}
.login {
	padding-top: 36px;
	position: absolute;
	bottom: -9px;
	right: 0px;
	width: 174px;
}
.login ul li {
	text-decoration: none;
	display: inline;
	padding: 0 10px;
}
.login ul li:first-child {
	border-right: 1px solid gray;
}
.login ul li a {
	text-decoration: none;
	color: black;
	font: 200 15px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
}  
.login ul li:first-child a {
	font-weight: bold;
}
.login ul li:nth-child(2) a:hover {
	color: #907EA5;
}

.form {
	box-shadow: 1px 0 15px -4px rgba(31, 73, 125, 0.8), -1px 0 8px -4px rgba(31, 73, 125, 0.8);
	background-color: #FFF;
	padding: 30px 30px;
	overflow: auto;
}
.create {
	padding: 0 0 20px 20px;
}
.left {
	width: 350px;
	display: inline;
	float: left;
	padding: 0 35px 0 20px;
	border-right: 1px solid #DDD;    

	font-size: 14px;
    font-weight: bold;
    color: #333;

}
.labeled {
	text-decoration: none;
	list-style: none outside none;
	line-height: 1.6em;
	vertical-align: baseline;
    padding: 0px;
}
.line {
	width: 250px;
	padding: 5px;
	margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.zip {
	width: 80px;
	padding: 5px;
	margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.agree {
	color: #666;
	font-weight: normal;
	font-size: 13px;
}
.agree a {
    font-size: 14px;
    font-weight: normal;
    color: #006EA4;
}
.sign {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	height:25px;
	line-height:25px;
	width:76px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;

	margin-top:20px;
}
.sign:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}
.right {
	width: 140px;
	display: inline;
	float: right;
	background-color: #F3F3F3;
	padding: 13px 30px;
}
.why {
	list-style-type: disc;
	margin-bottom: 0px;
	font-size: 11px;
    font-family: Helvetica;
	padding: 0 0 15px 20px;
	color: #555;
	line-height: 1.5;
}

.footer {
	clear: both;
}
.footer ul li {
	text-decoration: none;
	display: inline;
	padding: 0 10px;
}
.lul {
	width: 400px;
	margin: auto;
	text-align: center;
}
.lul li a {
	text-decoration: none;
	color: black;
	padding: auto;
}
.links {
	width: 590px;
	text-align: center;
	margin: auto;
	font: 200 11px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.links ul li {
	display: inline-block;
}
.links ul li a {
	text-decoration: none;
	color: black;
}  
.footer p {
	font: 200 11px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: gray;
	text-align: center;
}