<h1>Listing flights</h1>

<p><%= link_to "All flights", flights_path %></p>

<%= render 'search_form' %>

<% if @active_form %>
  <%= render 'flights_table' %>
<% else %>
  <%= render 'normal_table' %>
<% end %>

<br>
